name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env: 
# placeholders that will be managed by testcontainer
  NODE_ENV: "test"
  JWT_SECRET: "ci-test-secret"
  ADMIN_EMAIL: "ci@test.com"
  ADMIN_PASSWORD: "ci-test-password"
  DATABASE_URL: "ci-test-url"
  REDIS_URL: "ci-test-url"
  FRONTEND_URL: "ci-test-url"
  PINECONE_API_KEY: "ci-test-secret"
  PINECONE_INDEX_NAME: "ci-test-name"
  OPENAI_API_KEY: "ci-test-secret"
  ALTA_API_KEY: "ci-test-secret"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run prisma generate
        run: npx prisma generate

      - name: Run tests
        run: npm run test

      - name: Build project
        run: npm run build